.OpinionView {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.UserOption, .ViewRow div {
	margin: 0 1rem;
	transition: 0.1s ease-in;
	border-radius: 0.3rem;
	text-align: center;
	padding: 0.3rem 0.5rem;
	margin-bottom: 0.3rem;
}

.UserOption {
	flex-grow: 1;
	box-shadow: 0 0 1px #BBB;
}

.UserOption.Selected {
	background-color: #090909;
	/*box-shadow: 0 0 3px #777;*/
}

.UserOption.Selected.Most {
	box-shadow: 0 0 3px #32ff32;
}

.UserOption.Selected.Least {
	box-shadow: 0 0 3px #ff0c35;
}

.UserOption:hover {
	background-color: #222;
	text-decoration: underline;
	cursor: pointer;
	box-shadow: 0 0 3px #AAA;
}

.ViewRow {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
}