.OpinionView {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.OpinionView div {
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	padding: 0.3rem 0.5rem;
}

.UserOption {
	flex-grow: 1;
	margin: 0 1rem;
	transition: 0.1s ease-in;
	border-radius: 0.3rem;
	box-shadow: none;
}

.UserOption.Selected {
	background-color: #090909;
	/*box-shadow: 0 0 3px #777;*/
}

.UserOption:hover {
	background-color: #222;
	text-decoration: underline;
	cursor: pointer;
	box-shadow: 0 0 3px #AAA;
}