.Button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  background-color: var(--main-bg-color);
  margin: auto;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  flex: 1;
}

.Button:hover {
  background-color: #555;
}

.BigButton {
  font-size: 2.5rem;
  margin: 1rem auto;
  padding: 1rem;
}

.ActiveButton, .ActiveCancelButton {
  background-color: #458B00;
}

.ActiveButton:hover, .MakeActiveButton:hover {
  background-color: #6aa232;
}

.ActiveCancelButton:hover {
  background-color: #d43232;
}