.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  color: white;
}

#Header {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
