:root {
  --main-bg-color: #282c34;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('resources/fonts/Rubik-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  color: white;
  min-height: 100vh;
  width: 100vw;
  max-width:100%;

  padding: 0;
  margin: 0;

  transition: all 0.3s ease;

  font-family: Rubik;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}


#MainWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin: 0 4rem;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #MainWrapper {
    margin: 0 0.2rem;
  }
}

@media only screen and (min-width: 800px) {
  #MainWrapper {
    margin: 0 8rem;
  }
}
